@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(90deg, #7d5fff, #333);
}

.bg {
  background: url("https://images.unsplash.com/photo-1543466835-00a7907e9de1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZG9nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
    no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  /* height: 100vh;
  width: 100vw; */
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
